<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>테이블 예약화면</title>
</head>
<body class="grey-bg">


    <div class="detail-bg">
        <h4>테이블 예약 시간표</h4>
        <p></p>
    </div> 
    
  </body>
</html>